@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "The Joel Hilton Film Collection";
}
@*Home page of the website*@
<br />
<div class="jumbotron jumbotron-fluid" style="text-align: center;">
    <h1>@ViewBag.Title</h1>
</div>
<div class="container" style="text-align:center;">
    <img src="~/JoelHilton.jpg" />
</div>
