@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Podcasts";
}
<br />
<div class="container">
    <div class="page-header">
        <h1>My Podcasts</h1>
    </div>
    <hr />
    <br />
    <a href=" https://baconsale.com/" class="btn btn-outline-primary" role="button" style="font-size: 24px;" target="_blank">Listen to My Podcasts</a>
</div>